<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
		<link type="text/css" rel="stylesheet" href="/styles/style.css" />
		<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
	    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<head>
	<meta charset="UTF-8">
	<title>마이페이지</title>
</head>

<body>


<div id="wrap">
		  <!-- 최상단 내비게이션바 -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="/"><img src="/images/jjab_icon.png" alt="짭랩풋볼" style="width: 50px; height: auto;"></a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav me-auto mb-2 mb-md-0">
	       
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/board/aboutUs">About Us</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/board/list">매치참가</a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/board/list">Review</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/notice/list">Notice</a>
	        </li>

	        <li class="nav-item">
	          <a class="nav-link" href="/qna/list">QnA</a>
	        </li>
	      
	      
	      </ul>

	      <!-- 비인증 시, 로그인 버튼 -->
    		<!-- isAnonymous() : 인증되지 않은 사용자 이면 true, 아니면 false -->
			<th:block sec:authorize="isAnonymous()">
				<button type="button" onclick="location.href='/auth/login'" class="btn btn-primary mx-1">로그인</button>
				<button type="button" onclick="location.href='/auth/join'" class="btn btn-primary mx-1">회원가입</button>
			</th:block>
	      
	      
	      <form action="/auth/logout" method="post" class="mx-3">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				
				<!-- 인증 시, 로그아웃 버튼 -->
				<!-- isAuthenticated() : 인증된 사용자 이면 true, 아니면 false -->
				<th:block sec:authorize="isAuthenticated()">
					<!-- principal : 인증된 사용자 정보 객체 -->
					<span id="userId" sec:authentication="principal.username" class="text-white"></span>
					<button type="submit" class="btn btn-primary">로그아웃</button>
					<button type="button" class="btn btn-success" onclick="location.href='/mypage/main'">마이페이지</button>
				</th:block>
		</form>
	      
	      <form class="d-flex" role="search">
	        <input class="form-control me-2" type="search" placeholder="검색어 입력" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
	      </form>
	    </div>
	  </div>
	</nav><br>
	<!-- 네비게이션바 끝 -->

  <!-- header start -->
  <div id="header">
  	<br>
    <h1><a href="/">짭랩풋볼</a></h1>
    <h2>MyInfo</h2>
    <ul id="nav">
      <li><a href="/mypage/main">Mypage</a><span>/</span></li>
      <li class="current"><a href="/match/list">내 정보</a><span>/</span></li>
      <li><a href="/mypage/charge">포인트 충전</a><span th:style="${userId != '이지용'} ? 'display:none' : ''">/</span></li>
        <ul>
          <li><a href="/board/list">Review</a></li>
          <li><a href="/notice/list">Notice</a></li>
          <li><a href="/qna/list">QnA</a></li>
        </ul>
      </li>
      <!-- 제휴구장 목록은 관리자만 볼 수 있게 해야함 -->
      <li th:style="${userId != '이지용'} ? 'display:none' : ''"><a href="/ground/groundList">제휴구장 목록</a></li>
      <li th:style="${userId != '이지용'} ? 'display:none' : ''"><span>/</span><a href="/ground/groundList">매출 관리</a></li>
      <li th:style="${userId != '이지용'} ? 'display:none' : ''"><span>/</span><a href="/mypage/statistics">통계</a></li>
    </ul>
  </div>
  <!-- end header -->


    <div id="main">
		<div id="portfolio-content">
			<h2 class="page-title" th:text="|${userId} 님의 마이페이지|"></h2>
			
			<div
				class="col-sm12 col-lg-4 col-12 d-flex justify-content-center pt-5 vh-100">
				<!-- d-flex align-items-center 주면 y축 중앙으로 -->
				
				<form id="myInfo" action="/mypage/myInfo" method="post">

					<h1 class="text-center">내 정보 수정</h1>

					 <!-- 아이디  -->
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
                  <input type="text" class="form-control" name="userId" id="userId" th:value="${user.userId}" readonly/>
              
                  <!-- onblur >> 포커스가 떠날 때 실행될 동작을 정의함 --> 
                  <br>
						
					 <!-- 패스워드 -->
                  <input type="password" class="form-control" id="userPw" name="userPw" placeholder="패스워드" />
                  <br>
                  <input type="password" class="form-control" id="userPwChk" name="userPwChk" placeholder="패스워드 확인" />
                  <p style="margin-bottom: 7px;"></p>
                  <button style="text-align:left;" class="btn btn-success" id="toggle-password" type="button">비밀번호 보이기</button>
                  <br>
                  <div id="pwCheckMsg"></div>
                  <br>


					<!-- 전화번호 -->
<!--                 	<input type="tel" class="form-control" onkeyup="inputTelNumber(this);" name="userPh" maxlength="13" placeholder="전화번호"> -->
<!-- 					<select name="userPh"> -->
<!--                 		<option value="010" selected>010</option> -->
<!-- 		                <option value="011">011</option> -->
<!-- 		                <option value="016">017</option> -->
<!-- 		                <option value="018">018</option> -->
<!-- 		                <option value="019">019</option> -->
<!--             		</select>- -->
<!-- 		            <input name="userPh" type="number" value="" size="4" maxlength="4" autocomplete="off">- -->
<!-- 		            <input name="userPh" type="number" value="" size="4" maxlength="4" autocomplete="off"> -->
		            
		            
            		<!-- 이름 -->
					<input type="text" class="form-control" name="name" th:value="${user.name}" required/> <br> 
					
					<!-- 이메일 -->
					<input type="email" class="form-control" name="email" placeholder="이메일" required/> <br>

					<!-- 전화번호 -->
					<input type="text" class="form-control" name="phone" placeholder="전화번호(숫자만)" onblur="validatePhone()" required/> <br>

					<!-- 닉네임 -->
					<!-- <input type="hidden" class="form-control" name="nickname" placeholder="닉네임" /> <br> -->

					<!-- 생년월일 -->
<!-- 				<input type="text" class="form-control" name="birthday" -->
<!-- 						placeholder="생년월일 (예) 990101" maxlength=6 -->
<!-- 						onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" /> <br>
					<!--  <input name="birthday" type="date" class="form-control" min="1900-01-01" id="dNow"> -->
					<!-- 주소창-->
					<!-- <input class="form-control" type="text" id="address_kakao"
						name="address" placeholder='주소' readonly /> <br> -->

					<!-- 상세주소 -->
					<!-- <input class="form-control" type="text" name="addressDetail"
						placeholder='상세주소' /> <br> -->
					
					<!-- 성별 체크박스로 넣기 -->
					<!-- <select class="form-control" name='gender' id='gender'>
						<option value="select" selected disabled>성별</option>
						<option value="남">남</option>
						<option value="여">여</option>
					</select> <br> -->
					
					
<!-- 					<select class="form-control" name="auth"> -->
<!-- 						<option value="select" selected disabled>권한 선택(관리자 생성 후 주석)</option> -->
<!-- 						<option value="ROLE_USER">사용자</option> -->
<!-- 						<option value="ROLE_ADMIN">관리자</option> -->
<!-- 					</select> <br> -->

					<!-- 회원정보변경 / 취소버튼 -->
					<div class="btn-box py-2">
						<button id="submitBtn" type="button" class="btn btn-primary w-100 p-1" onclick="submitForm()">정보수정</button>
					</div>
					<div class="btn-box py-2">
						<button type="button" onclick="history.back();"
							class="btn btn-primary w-100 p-1">취소</button>
					</div>
				</form>
			</div>		
				
	
		</div>
		<!-- end portfolio-content -->
	</div>
	<!-- end main -->


</div>
<!--end wrap-->	

<!-- jquery라이브러리 로드 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

/* 비번 동일 확인용 */
const userPw = document.getElementsByName('userPw')[0];
const userPwChk = document.getElementsByName('userPwChk')[0];
const pwCheckMsg = document.getElementById('pwCheckMsg');

function checkPasswords() {
    const password = userPw.value;
    const passwordConfirmation = userPwChk.value;

    if (passwordConfirmation.length === 0) {
        pwCheckMsg.innerText = '';
        return;
    }

    if (password !== passwordConfirmation) {
        pwCheckMsg.innerText = '비밀번호가 다릅니다.';
    } else {
        pwCheckMsg.innerText = '비밀번호가 같습니다.';
    }
}

userPw.addEventListener('input', checkPasswords);
userPwChk.addEventListener('input', checkPasswords);

/* 비번 보이기 */
const passwordInput = document.getElementById('userPw');
const passwordConfirmInput = document.getElementById('userPwChk');
const toggleButton = document.getElementById('toggle-password');
const form = document.getElementById("myInfo");

toggleButton.addEventListener('click', function() {
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        passwordConfirmInput.type = 'text';
        toggleButton.textContent = '비밀번호 숨기기';
    } else {
        passwordInput.type = 'password';
        passwordConfirmInput.type = 'password';
        toggleButton.textContent = '비밀번호 보이기';
    }
});

/* 아이디 중복 확인 */
function checkUserId() {
    var userId = document.getElementById("userId").value;
    // name이 userId 인 요소의 value를 가져와 userId 변수에 저장함

		  // 영문과 숫자 조합으로 15자 이내인지 정규식을 사용하여 검사
		  var regex = /^[a-zA-Z0-9]{1,15}$/;
		  if (!regex.test(userId)) {
		    userIdCheckMsg.innerText = "아이디는 영문과 숫자 조합으로 15자 이내로 입력해주세요.";
		    return;
		  }    
    
    
    var xhr = new XMLHttpRequest();
    	// 아이디 미입력시 알림메시지출력
	    if (userId === "") {
	        userIdCheckMsg.innerText = "아이디를 입력하세요.";
	        return;
	    }
	    
    xhr.open('GET', '/checkUserId?userId=' + userId, true);
    // XMLHttpRequest객체를 통해 GET 방식으로 위의 url에 userId 를 함께 전달하며, 비동기 방식으로 요청
    // 서버에 userId값을 전달하는 Get 요청을 보내는 역할을 함. 서버로부터 응답을 받을 때까지 대기하지 않고 다음 코드를 실행함
    xhr.onload = function () {
   	// onload 핸들러는 서버로부터 응답을 성공적으로 받았을 때 호출됨. 
        if (xhr.status === 200) {
            if (xhr.responseText.trim() === "fail") {
                document.getElementById("userIdCheckMsg").innerHTML = "이미 사용 중인 아이디입니다.";
            } else {
                console.log("이건뭔가 : " + xhr.responseText.trim());  // 이거 콘솔에 안찍히는데       
                document.getElementById("userIdCheckMsg").innerHTML = "사용할 수 있는 아이디입니다.";
            }
        } else {
            alert('요청 실패!');
        }
    };
    xhr.send();
}

/* 중복확인을 하지 않거나 사용중인 아이디, 공백으로 가입하려고 했을 경우 경고메시지 표시 */
function submitForm() {

  var passwordConfirmationMessage = document.getElementById("pwCheckMsg").innerText;
	
  // 비밀번호가 같은 경우에만 회원정보 변경 처리 코드를 실행합니다.
  if (passwordConfirmationMessage.trim() === "비밀번호가 같습니다.") {
    form.submit();
  } else {
    alert("비밀번호 일치여부를 확인해주세요");
  }
}


/* 전화번호가 숫자로만 이루어져있는지 검사하는 메소드 */
function validatePhone() {
    var phoneInput = document.getElementsByName('phone')[0];
    var phoneValue = phoneInput.value;
    var regex = /^[\d-]+$/; // 숫자와 '-'만 허용하는 정규식

    if (phoneValue === '') {
        alert('전화번호를 입력하세요.');
        return false;
    }

    if (!regex.test(phoneValue)) {
        alert('전화번호는 숫자만 입력해주세요.');
        return false;
    }

    phoneValue = phoneValue.replace(/-/g, ''); // '-' 제거
    phoneInput.value = phoneValue; // 값 업데이트
    return true;
}




$(function(){
    $('#chargebtn').click(function(){
        $.ajax({
             url:'/kakaopay',
             dataType:'json',
             data:{
				item_name : "1만 포인트(10,000)",
				quantity : "1",
				total_amount : "10000",
				tax_free_amount : "0"
             },
             success:function(data) {
					var box = data.next_redirect_pc_url;
					window.open(box)
               } , 
               error:function(error) {
                         alert(error);
               }
        });
    });
});


</script>	

	
	
</body>
</html>
