/* button{
	border:none;
	border-radius:4px 가능
}

.navbar .nav-link {
    font-size: 18px; 원하는 글씨 크기로 조절
}

.carousel-inner > .carousel-item > img {
    top: 0;
    left: 0;
    width: 80%;
    height: 300px;
    border-radius: 10%;
} 

.mainPicture {
	width:80%;
	height:400px;
	margin-top:50px;
} */










